
{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['statsd'],
        'pkgs_backend_amqp': ['statsd-backend-amqp'],
        'pkgs_backend_opentsdb': ['statsd-backend-opentsdb'],
        'service': 'statsd',
        'config_prefix': '/etc/statsd/',
        'config': "".join(('/etc/statsd/','localConfig.js'),),
    },
    'RedHat': {
        'pkgs': ['statsd'],
        'pkgs_backend_amqp': ['statsd-backend-amqp'],
        'pkgs_backend_opentsdb': ['statsd-backend-opentsdb'],
        'service': 'statsd',
        'config_prefix': '/etc/statsd/conf.d/',
        'config': "".join(('/etc/statsd/','localConfig.js'),),
    }
}, merge=salt['pillar.get']('statsd:server')) %}

